@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.back{
	background-image: url("https://img.freepik.com/free-photo/dark-blue-product-background_53876-92801.jpg?w=1060&t=st=1689831521~exp=1689832121~hmac=9849c95f49508b506c491fcd6b0a73c91244c5ac23064b09fb28e2195223b1fb");
	text-align: center;
	height: 100vh;
	background-size: cover;
}
.bo{
	width: 340px;
	height: 60px;
	border-radius: 10px;
	border-width: 0px;
	margin-bottom: 5px;
	margin-top: 140px;
	text-align: start;
}
.bt{
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	width: 75px;
	margin: 5px;
	border-radius: 15px;
	border-width: 0px;
}
.btc{
	background-color: orange;
	color: white;
}
.btcc{
	background-color: #0000FF;
	color: white;
}